name: "Tests"

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: npm ci
    - run: npm audit
    - run: npm test -- --testPathIgnorePatterns action.test.js
