name: "Tests"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build: # make sure build/ci work properly and there is no faked build ncc built scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
      - run: npm ci
      - run: npm run build
      - run: git status --porcelain
      - run: git diff --ws-error-highlight=all | cat -v
      - run: git diff --exit-code

  test:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: npm ci
      - run: npm run test

  test-download-action:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: ./

      - name: "Donwload Grype v0.54.0"
        id: grype
        uses: ./download-grype # anchore/scan-action/download-grype
        with:
          grype-version: v0.54.0

      - name: "Check Grype version before scan-action"
        run: ${{ steps.grype.outputs.cmd }} version | egrep "^Version:.*0.54.0$"

      - name: "Scan test image"
        uses: ./
        with:
          image: "alpine:latest"
          fail-build: false # to prevent fail due to vuln:s on test image

      - name: "Check Grype version after scan-action"
        run: ${{ steps.grype.outputs.cmd }} version | egrep "^Version:.*0.54.0$"

  test-all:
    strategy:
      matrix:
        config: [
          {image: 'alpine:latest'},
          {path: 'tests/fixtures/npm-project'},
          {sbom: 'tests/fixtures/test_sbom.spdx.json'},
        ]
        os: [ubuntu-latest, windows-latest, macos-latest]
        output-format: [sarif, json, table]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./
        id: scan
        with:
          image: ${{ matrix.config.image }}
          path: ${{ matrix.config.path }}
          sbom: ${{ matrix.config.sbom }}
          output-format: ${{ matrix.output-format }}
          fail-build: false

      - name: Validate file exists
        if: ${{ matrix.output-format != 'table' }}
        run: test -f '${{ steps.scan.outputs[matrix.output-format] }}'
